body{
    background-image: url("images/cover.jpg");
    background-size:cover;
}


.wrap{
    
    width: 800px;
    height: 500px;
    border: 2px solid black;
    margin: 30px auto;
    
    

}
h1{
    font-size: 50px;
    color:brown;
    text-align: center;
    border-bottom: 2px solid white;
}

.txt
{
    width:250px;
    height: 90px;
    border-radius: 9px;

}
.txtarea
{
    width:800px;
    height: 200px;
    border-radius: 6px;

}
.btn
{
    width:200px;
    height: 150px;
    background-color: brown;
    border-radius: 8px;
    font-size: 20px;
    color: black;
}
.container-1
{
    
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    
}

.feedback-form{
    
    flex:1;
    padding:20px;
    background: blur;
    
    
}
.popular-feedback{
    
    flex:1;
    background-color: transparent;
    padding: 100px;
}
.feedback-box{
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 4%;


}
.blurry-box{
    
    backdrop-filter: blur(5px);
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}
.container-1 {
    display: grid; /* Use grid layout for the container */
    grid-template-columns: 1fr 1fr; /* Create two equal columns */
    gap: 20px;
}
#logo {
	float: right;
	padding:80px 20px 40px 10px;
	margin:-70px 40px -40px 10px;
}  
hr{
	border-top:1px solid black;
}

.navbar{
    margin: 10px 10px 10px 10px;
    padding: 0;
    box-sizing: border-box;
	transition: all 0.5s ease;
}
.navbar {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar li {
    float:left;
	padding:25px 20px 5px 20px;
	text-align:center;
	font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar a:hover {
    color: #ff9900;
}
#topnav a:hover{
	background-color:yellowgreen;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    margin: auto;
}
.footer-col{
   width: 50%;
   padding-left: 100px;
   padding-bottom:0px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin:10px 10px 10px 10px;
	text-align: left;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 3px;
	margin-bottom: 5px;
	padding:inherit;
	box-sizing: border-box;
	width:80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	margin-top: 12px;
	margin-left: 11px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ff9900;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	padding-top: 12px;
	margin:12px 10px 10px 2px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
	
}


.test1{
	text-align: right;
	padding-top: 30px;
	padding-right: 15px;
	margin-bottom: 5px;
	color:aliceblue;
}


.copy1{
	
	color: #bbbbbb;
	margin: auto;
	text-align: center;
	margin-bottom: -60px;
}






