body{
	
	background-image:url("../resources(src)/images/cover.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
}
	
#logo{
	float: right;
	padding:80px 20px 40px 10px;
	margin:-70px 40px -40px 10px;
}


.test1{
	text-align: right;
	padding-top: 30px;
	padding-right: 15px;
	margin-bottom: 5px;
	color:aliceblue;
}


.lbtn{
	width:19%;
	padding:12px;
	background-color:#C0BCBC;
	color:#fff;
	border:none;
	border-radius:25px;
	cursor:pointer;
	font-size:18px;
	transition: background-color 0.3s ease;
}




h1,h4{
	text-align:center;
}
hr{
	border-top:1px solid black;
}

.navbar{
    margin: 10px 10px 10px 10px;
    padding: 0;
    box-sizing: border-box;
	transition: all 0.5s ease;
}
.navbar {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar li {
    float:left;
	padding:25px 20px 5px 20px;
	text-align:center;
	font-size: 18px;
}


.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar a:hover {
    color: #ff9900;
}

#topnav a:hover{
	background-color:yellowgreen;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin:10px 10px 10px 10px;
	text-align: left;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 3px;
	margin-bottom: 5px;
	padding:inherit;
	box-sizing: border-box;
	width:80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	margin-top: 12px;
	margin-left: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ff9900;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	padding-top: 12px;
	margin:12px 10px 10px 2px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.category {
	background-color: rgba(240, 240, 240, 0.5);
    border: 5px solid #24262b;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.category {
  border: 2px solid transparent;  /*catergory container*/
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9); /* Increase the blur radius and intensity */
  transition: box-shadow 0.3s ease-in-out;
}

.category:hover {
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.9); /* Increase the glow even more on hover */
}






h2 {
	text-align: center;
    color:#24262b;
	font-family:"Future Z";
    margin: 0;
	transition: color 0.1s ease;

}
.category:hover h2 {
    color:#E13A3D;  /*#E13A3D*/
}

.category-list {
    list-style-type: none;
    padding: 5;
    display: flex;
    flex-wrap: wrap; /* Wrap elements */
}

.item2{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 5px 0px 0;
	font-size: 20px;
    padding: 5px 10px 5px;
    background-color: #ccc;
    border-radius: 20px;
	margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
	transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
	
}
.item2:hover{
    background-color: #aaa;
	animation: shake 0.8s ease-in-out;
}

.itimage{
	text-align: center;
	display: flex;
    align-items: center; /* Center items vertically */
    margin: 5px;
    background-color: #ccc;
    border-radius: 3px;
	margin-left: 9px;
    margin-right: 10px; 
	max-width: 150px; 
    max-height: 150px; 
    margin-top: 5px; /* Add spacing between the image and text */
	transition: background-color 0.3s ease; /* Add a transition effect to background-color */
    position: relative;
}

.itimage:hover {
    background-color: #aaa;
	transition: transform 0.3s ease;
	
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.slideshow-container {
	border: 5px solid #24262b;
    width: 800px;
    height: 340px;
    padding: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 35px;
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	
}

.slideshow-container {
  border: 2px solid transparent;
  border-radius: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.9);
  transition: box-shadow 0.2s ease-in-out;
}

.slideshow-container:hover {
  box-shadow: 0 0 40px rgba(0, 0, 255, 0.9); 
}

.slideshow-container {
  border: 2px solid transparent;
  border-radius: 35px;
  animation: glowing 2s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7), 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.7);
  }
}







 .slider {
        width: 500px;
        height: 300px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-animation: slide 10s infinite;
        animation: slide 10s infinite;
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
@keyframes slide {
    0%, 100% {
        left: 0;
    }
    3.125% {
        left: 0;
    }
    46.875% {
        left: -500px;
    }
    71.875% {
        left: -1000px;
    }
}
      .buttons {
        position: relative;
        top: -25px;
      }
      .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color:aliceblue;
      }

.slideshow-containernews{
 	border: 5px solid #24262b;
	width:800px;
	height: 340px;
    padding:20px;
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 30px;
    border-radius: 35px;
  	background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


.slideshow-containernews {
  border: 2px solid transparent; 
  border-radius: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.9); 
  transition: box-shadow 0.2s ease-in-out; 
}

.slideshow-containernews:hover {
  box-shadow: 0 0 40px rgba(0, 0, 255, 0.9);
}



.slideshow-containernews {
  border: 2px solid transparent;
  border-radius: 35px;
  animation: glowing 2s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.7), 0 0 20px rgba(0, 0, 255, 0.7), 0 0 30px rgba(0, 0, 255, 0.7);
  }
}



.image-container1 {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-animation: slide 10s infinite;
        animation: slide 10s infinite;
      }

.pixy{
	width: 500px;
	height: 100px;
	margin-left: 500px;
	margin-top: -10px;
}

.pixyl{
	width: 200px;
	height: 200px;
	margin-left: 650px;
	margin-top: -30px;
	margin-bottom: -30px;
}
.pixyh{
	font-family: "Future Z";
}


.copy1{
	
	color: #bbbbbb;
	margin: auto;
	text-align: center;
	margin-bottom: -60px;
}

.wrap{
	max-width: 700px;
    width: 600px;
	background: #F0F0F0;
   
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 5px;
    align-content: center;
		background-color: rgba(240,240,240,0.3);
	box-shadow: 02px 10px rgba(0,0,0,0.4);
}

.inputfld{
	margin-bottom: 15px;
	display: flex;
	margin-right: 10px;
}

label{
	width: 200px;
	margin-right: 10px;
	margin-bottom: 8px;
	color: black;
	font-weight: 600;
	text-align: center;
}

input{
	margin-bottom: 8px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-width: 2px;
	border-radius: 20px;
	transition: all 0.5s ease;
	background-color: rgba(240,240,240,0.5);
	box-shadow: 02px 10px rgba(0,0,0,0);
	
}

.btn{
    border-width: 3px ;
	height: 25px;
    font-weight: 700;
    border-radius: 20px;
    width: 125px;
	
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th {
    background-color: #7A7979;
    font-weight: bold;
    padding: 10px;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}






