body{
	
	background-image:url("FAQc.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
}
	
#logo{
	float: right;
	padding:80px 20px 40px 10px;
	margin:-70px 40px -40px 10px;
}

h1,h4{
	text-align:center;
}
hr{
	border-top:1px solid black;
}

.navbar{
    margin: 10px 10px 10px 10px;
    padding: 0;
    box-sizing: border-box;
	transition: all 0.5s ease;
}
.navbar {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar li {
    float:left;
	padding:25px 20px 5px 20px;
	text-align:center;
	font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar a:hover {
    color: #ff9900;
}
#topnav a:hover{
	background-color:yellowgreen;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin:10px 10px 10px 10px;
	text-align: left;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 3px;
	margin-bottom: 5px;
	padding:inherit;
	box-sizing: border-box;
	width:80px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	margin-top: 12px;
	margin-left: 11px;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ff9900;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	padding-top: 12px;
	margin:12px 10px 10px 2px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
	
}


.test1{
	text-align: right;
	padding-top: 30px;
	padding-right: 15px;
	margin-bottom: 5px;
	color:aliceblue;
}


.copy1{
	
	color: #bbbbbb;
	margin: auto;
	text-align: center;
	margin-bottom: -60px;
}

#formelements{
	align-content: center;
}
.headerc{
	align-content: flex-start;
	color:black;
	font-weight: 700;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
	
}
.warap1{
	   max-width: 900px;
    width: 700px;
	background: #F0F0F0;
   
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 5px;
    align-content: center;
		background-color: rgba(240,240,240,0.8);
	box-shadow: 02px 10px rgba(0,0,0,0.4);

	
	
}

.athule{
	font-weight: 600;
	
	
	
	
}

.ques{
	font-weight: 700;
	
	
}
/* Container holding the image and the text */
.container1 {
    position: relative;
  text-align: center;
  color: white;

}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
 background-color: rgba(240,240,240,0.8);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.centered {
  position: absolute;
  top: 2%;
  left: 10%;
  transform: translate(-5%, -5%);

}

	

	

.img2{
	
	border-radius: 20px;
		
}
.centered1{
	position: absolute;
  top: 3%;
  left: 43%;
  transform: translate(-5%, -5%);
	
}

.textarea{
	
	width:370px;
	outline: none;
	display: flex;
	height: 200px;
	margin-bottom: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
	background-color: rgba(240,240,240,0.5);
	box-shadow: 02px 10px rgba(0,0,0,0.4);
}
input{
margin-bottom: 8px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-width: 2px;
	border-radius: 20px;
	transition: all 0.5s ease;
	background-color: rgba(240,240,240,0.5);
	box-shadow: 02px 10px rgba(0,0,0,0.4);
	
	
	
}

label{
	width: 20px;
	margin-right: 300px;
	color: white;
	font-weight: 700;
}

.centered6{
	align-content: center;
	position: absolute;
	 top: 20%;
 left:34%;
 

  transform: translate(-5%, -5%);
	
}
.btn{
    border-width: 3px ;
	height: 28px;
    font-weight: 700;
    border-radius: 20px;
    width: 125px;
	
}


